

ion-header{

  ion-toolbar.list-toolbar{
    color: black;

    ion-item ion-label ion-text{
      color: black;
      font-size: 1.2em;
    }
  }
}

ion-list{
 margin-top: 30px;
}

ion-list-header{
  --background: transparent;
  color: black;
  font-size: 2em;
}


ion-item-sliding{
  --border-radius: 5px;
  --background: #ddecf5df;
  position: relative;
}

ion-item.todo{
  height: 100%;
  ion-checkbox{
    --background: #569ce2;
    --border-color: #569ce2;
    div{
      ion-label{
        color: black;
        padding: 2px;
        font-size: 1em;
      }

      ion-text{
        color: #686868;
        padding: 2px;
        font-size: .9em;
      }
    }
  }
}

ion-item-options{
  --background: #ddecf5df;
  ion-item-option{
    --background: #569ce2;
    --border-color: #569ce2;
    color: white;
    font-size: .9em;
    padding: 2px;
    height: 100%;
  }
}

.todoDone{
  text-decoration: line-through;
}



